@use "../base/gral-styles" as *;


.register {
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    margin-bottom: 15%;

    @media screen and (min-width: 300px) and (max-width: 1024px){
        margin-bottom: 35%;
    }
    

    
    .logo {
        img {
            max-width: 150px;
            margin-bottom: 20px;
        }
    }
    
    .register__form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        min-width: 30%;
        
        .input__group {
            margin-bottom: 15px;
            
            .input__label {
                display: block;
                margin-bottom: 5px;
                color: black;
            }
            
            .input__input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
              
            }
            small{
                
            }
        }
        
        .buttons {
            display: flex;
            justify-content: space-between;
            
            .btn {
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                margin: 1px;
                &:hover {
                    box-shadow: -1px 3px 10px 2px black;
                }
                
                &--register {
                    background-color: $gral-magenta; 
                    color: white;
                }
                
                &--login {
                    background-color: $gral-violet; 
                    color: white;
                    
                }

                a{
                    color: white;
                }
            }
            
           
        }
    }
}
