/* HEADER */
@use '../base/gral-styles' as *;
.headerContainer {
    padding: $gral-padding;
    position: fixed;
    z-index: 99;
    background-color: #0c061d;
    width: 100%;
    top: 0;

    @media all and (max-width: 1024px) {
        padding: 1%;
    }
    @media all and (max-width: 768px) {
        padding: 2% 2% 0.2% 2%;
    }

    .navWrapper {
        display: flex;
        justify-content: space-between;

        .navLogo {
            width: 8rem;
            order: 1;
            @media all and (max-width: 1024px) {
                width: 13vw;
            }
            @media all and (max-width: 768px) {
                width: 21vw;
                order:2;
            }
            @media all and (max-width: 480px) {
                width: 26vw;
                order:2;
            }

            &:hover {
                box-shadow: -1px -4px 35px -16px rgba(255, 255, 255, 1);
                transition: ease 0.5s;
                transform: scale(1.05, 1.05);
            }
            a {
                img {
                    width: 100%;
                }
            }
        }
        .navBurguerMenu {
            order: 1;
            background-color: currentcolor;
            border: none;
            display: none;
          
            @media all and (max-width: 768px) {
                order: 1;
                display: flex;
            }

            .btnBurguer {
               width: 3.2rem;
               .btnBurguer :hover {
                box-shadow: -1px 3px 10px 2px black;
            }
            
            
                @media all and (max-width: 768px) {
                    font-size: 9vw;
                }
                @media all and (max-width: 480px) {
                    font-size: 10vw;
                }
            }
        }
        .navMenuWrapper {
            display: flex;
            align-items: center;
            order: 2;
            @media all and (max-width: 768px) {
                display: none;
            }
            .navItem {
                cursor: pointer;
                text-align: center;
                @media all and (max-width: 768px) {
                    padding: 1.8% 0% 1.8% 0%;
                    width: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    border-bottom: 1px #d1d1d1 solid;
                }
               

                .navLink {
                    color: $gral-white;
                    font-weight: 600;
                    padding: 0.2rem;
                    margin: 0rem 0.4rem;
                    font-size: 1.2vw;
                    @media all and (min-width: 1440px) {
                        margin: 0rem 1rem;
                    }
                    @media all and (max-width: 1024px) {
                        font-size: 1.4vw;
                    }
                    @media all and (max-width: 768px) {
                        color: $gral-white;
                        padding: 0% 35% 0% 35%;
                        font-weight: 600;
                        font-size: 3.1vw;
                    }
                    @media all and (max-width: 480px) {
                        font-size: 3.5vw;
                        
                    }
                    &:last-of-type {
                        @media all and (max-width: 1024px) {
                            margin-right: 1rem;
                        }
                    }
                    &:hover {
                        color: #a80070;
                        transition: all 1s ease;
                    }
                    &:active {
                        color: #a80070;
                    }
                }
            }
            /*drop down careers and courses*/
            .navItem.navItemCareers .careersList {
                display: none;
            }
            .navItem.navItemCourses .coursesList {
                display: none;
            }
            .navItem.enter {
                margin-left: 1rem;
            }
            .navItem.enter,
            .navItem.login {
                display: flex;
                border: #f6f2f5 solid 2px;
                margin-left: 0.5rem;
                @media all and (max-width: 768px) {
                    border: none;
                    border-bottom: 1px #d1d1d1 solid;
                }

                &:hover {
                    /* border: #a80070 solid 2px; */
                    animation-name: niceBorder;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                    /* transition: all 1s ease; */

                    @keyframes niceBorder {
                        0% {
                            border-left: #a80070 solid 2px;
                        }
                        33% {
                            border-top: #a80070 solid 2px;
                        }
                        66% {
                            border-right: #a80070 solid 2px;
                        }
                        99% {
                            border-bottom: #a80070 solid 2px;
                        }
                        100% {
                            border: #a80070 solid 2px;
                        }
                    }
                }
            }

        }
        .navUserAndCart{
        
            display: flex;
            order: 3;
            gap: 0.8rem;
            margin-right: 2%;
            .navUser{
                width: 2.4rem;
                img{
                    width: 100%;
                }
            }
            .navUser__dropDown{
                @extend .navCart__dropDown;
                top: 0;
                .dropDown__wrapper{
                    @extend .dropDown__wrapper;
                    .dropDown__title{
                        @extend .dropDown__title;
                      
                    }
                    .closeUser{
                        @extend .closeCart;
                    }
                }
                .dropDown__options{
                    margin-top: 5%;
                 .options__user{
                    cursor: pointer;
                    font-size: 2rem;
                    margin: 2%;
                    &:hover{
                        box-shadow: 0px 3px 14px 3px rgba(0,0,0,0.75);
                        padding: 1%;
                    }
                    @media all and (max-width: 768px) {
                        font-size: 1.6;
                        margin: 2%;
                       }
               
                 }  
                 .options__out{
                    @extend .options__user;
                 }
                }
            }
            //cart
            .navCart{
                width: 2.5rem;
                img{
                    width: 100%;
                }
            }
            .navCart__dropDown{
            display: none;
                position: absolute;
                right: 0;
                background: linear-gradient(173deg, rgba(255, 255, 255, 1) 14%, rgba(176, 18, 235, 0.9) 100%);
                width: 35%;
                min-height: 98vh;
                color: black;
                padding: 2%;
                border:1px solid $gral-violet;
                @media all and (max-width: 768px) {
                   width: 60%;
                   }
                   @media all and (max-width: 480px) {
                    width: 85%;
                    }
                .dropDown__wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border-bottom:1px solid black;
                    .dropDown__title{
                        font-size: 1.5rem;
                     
                        @media all and (max-width: 768px) {
                         font-size: 1.1rem;
                        }
                        @media all and (max-width: 480px) {
                            font-size: 1rem;
                           }
                        }
                    .closeCart{
                        width: 3rem;
                       margin: 2%;
                       &:hover {
                        box-shadow: -1px 3px 10px 2px black;
                    }
                       @media all and (max-width: 768px) {
                        width: 2rem;
                       }
                       @media all and (max-width: 480px) {
                        width: 1.6rem;
                       }
                    }
                 
                    
                }
                .dropDown__item{
                        display: flex;
                        margin: 2% 3%;
                        border: 1px solid black;
                        border-radius: 5px;
                        background-color: white;
                         //width: 100%;
                
                    .item__img{
                        width: 50%;
                        margin: 1%;
                        border-radius: 5px;
                    }
                    .item__info{
                        display: flex;
                        flex-direction: column;
                        margin: 2%;
                       
                        justify-content: center;
                        .item__title {
                            border-bottom: 1px solid $gral-violet;
                            padding: 0.5px 0px;
                        }
                        .item__price {
                            display: block;
                            padding: 2% 0%;
                            border-bottom: 1px solid $gral-violet;
                            font-weight: 600;
                        }
                    }
             
             
                }
                .divider {
                    display: block;
                    min-width: 85%;
                    margin: 5% 0%;
                   border: 2px solid $gral-violet;
                }
                
                .cart__total {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    gap: 0.5rem;
                    .cart__total p {
                        font-size: 1.5rem;
                    }
                    .total__price {
                        font-size: 1.8rem;
                    }
                    .btn__add {
                        width: 60%;
                        padding: 2% 0%;
                        font-weight: 800;
                        font-size: 1.2rem;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
    
             
            }
            
            .open{
                display: block;
                animation: slide 1s ease 0s 1 normal both;
            }
            @keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
        }
        /*menu Mobile*/
        .closeMenu{
            display: none;
                width: 4rem;
               margin: 2%;
               position: relative;
               right: 35%;
               &hover {
                box-shadow: -1px 3px 10px 2px black;
            }
               @media all and (max-width: 768px) {
                width: 3rem;
               }
               @media all and (max-width: 480px) {
                width: 2rem;
               }
            }
       
        
       .openMenu {
            @media all and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0px;
                height: 85vh;
                padding: 10% 0% 0% 0%;
                background: linear-gradient(
                    180deg,
                    rgba(82, 37, 189, 1) 0%,
                    rgba(141, 120, 193, 1) 64%,
                    rgba(123, 120, 120, 0.877) 99%
                );
                animation: slideMenu 1s ease 0s 1 normal both;
            }
            @keyframes slideMenu {
                0% {
                    opacity: 0;
                    transform: translatey(-50px);
                }
            
                100% {
                    opacity: 1;
                    transform: translatey(0);
                }
            }
            @media all and (max-width: 480px) {
                height: 65vh;
            }
        }
    }
}
